/*----------| Global |----------*/
body {
    font-family: 'Fira Sans'!important;
    height: 100%;
}
a {
    color: #003cff!important;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
ul {
    list-style: none;
    padding:0;
    margin:0;
}
li:before {
    content: "• ";
    color: #003cff; 
    line-height: 2;
    text-indent: -.7em;
}
/*----------| Header |----------*/
.header {
    margin-top: 50px;
    margin-bottom: 10px;
}
#logo a:hover {
    text-decoration: none;
}
.logoimg {
    width: 200px;
    margin-left: 19%;
}
#name {
    color: #000d3e;
    font-weight: 700;
    font-size: 20.73px;
    text-transform: uppercase;
    padding-top: 3px;
}
.circle {
	border: 3px solid #003cff;
	border-radius: 50%;
	opacity: 0.6;
    z-index:1;
    position:absolute;
	width: 26px;
	height: 26px;
    box-sizing: content-box;
}
@keyframes rotate{
	from{
		transform:rotate(0deg) translate(-14px) rotate(0deg);
		background-color:#003cff;
	}
	to{
		transform:rotate(360deg) translate(-14px) rotate(-360deg);
		background-color:#003cff;
	}
}
.spinner{
	position:absolute;
	top:-1px;
    margin-left:25px;
	/*left:26.3%;*/
	width:8px;
	height:8px;
	border-radius:6px;
	animation:1000000s rotate infinite;
    z-index:0;
    box-sizing: content-box;
}
.centerdot {
  margin-left:9px;
  margin-top:9px;
  z-index:3;
  width: 7px; 
  height: 7px; 
  background: #003cff; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 6px;
}
#phone {
    padding-left: 100px;
}
#mail {
    padding-right: 55px;
}
.icons {
    padding-bottom: 2px;
}
/*----------| Menu |----------*/
.menu {
    margin-top: 90px;
    margin-bottom: 70px;
}
.hiddenblock {
    display: none;
}
.displayblock {
    display: block;   
}
.caption {
    text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.13);
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 80%;
    left: 23%;
    width: 100%;
    font-size: 22px;
}
#text2 {
    left: 17%!important;
}
#text3 {
    left: 10%!important;
}
.analyticsTextHeading {
    text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.13);
    color: #003cff;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 0px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
#analyticText {
/*    display: block!important;*/
}
.infoTextHeading {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    color: #d36700;
    padding-left: 0px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.supercondTextHeading {
    color: #003cff!important;
    padding-left: 15px!important;
}
.infoText {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #9da3b5;
    text-decoration: none!important;
}
.menuBlock:hover .infoText {
    text-decoration:none!important;
    color: #003cff;
}
.infoImg {
    margin-top: 40px;
    margin-bottom: 20px;
}
.topblock {
    margin-bottom: 18px;
}
.toggleButton {
    background-color: white;
    border: 1px dashed blue;
    margin-bottom: 8px;
    margin-right: 6px;
    height: 28px;
/*    width: 246px;*/
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;
    display:inline;
}
.toggleButton p {
    top:50%;
    color: #003cff;
    font-size: 14px;
    text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.13);
    display: table-cell;
    vertical-align: middle;
/*    text-transform: uppercase;*/
/*    font-weight: 500;*/
}
.orangeButton {
    border: 1px dashed #d36700;
    background-color: white;
}
.orange {
    border: 1px dashed #d36700;
}
.orange p {
    color: #d36700;
}
.active1 {
    background-color: #003cff;
    border: 1px solid #003cff;
}
.active1 p {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.13);
}
.active2 {
    background-color: #d36700;
    border: 1px solid #d36700;
}
.active2 p {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.13);
}
a:focus {
    outline: 0;
    text-decoration: none!important;
}
div:focus {
    outline: 0;
}
.toggleButtons {
    margin-top: 10px;
}
.toggleButtons a:hover {
    text-decoration: none;
}
.infoTextBlock {
    display:none;
}
.infoTextBlock h5 {
/*    color: #557dff;*/
    font-size: 16px!important;
    line-height: 1.75;
    margin-top: 36px;
    margin-bottom: 8px;
}
.infoTextBlock p, ul, li, .superInfo {
    line-height: 23px;
/*    color: #afb2ba;*/
}
#4 {
    padding-top: 100px;
}
.level2 {
    transition: all 1s;
}
.level3 {
    transition: all 1s;
}
#analyticsInfo {    
}
.menuimages {
    transition: all 1s;
}
.menuimage {
    overflow: hidden;
    transition: all 1s;
}
/*----------| Footer |----------*/
.underlined {
    border-bottom: solid 1px #b3c5ff;
    display: inline;
    padding-bottom: 0px;
}
.underlined a:hover {
    color: #e36b00!important;
}
.underlinedlang a:hover {
    color: #e36b00!important;
}
.underlinedlang {
    border-bottom: solid 1px #b3c5ff;
    display: inline;
    padding-bottom: 3px;
}
#lang {
    padding-left: 100px;
}
hr.colored {
    width:1050px;
    border-top: 1px solid #a1bdff;
    margin-top: 7%;
}
.footer {
    padding-left: 90px;
    position: absolute;
    padding-top: 70px;
    width: 100%;
    height: 120px;
}
.footer a:hover {
    text-decoration: none;
}
.blueseparator {
    color:#1ca2ff;
}
.copyinfo {
    color:#afb2ba;
}
.correction {
    margin-left: 60px;
}
/*----------| About |----------*/
.aboutbg {
    background-color: #c1c5c8;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position: absolute;
    background-attachment: fixed;
}
.aboutinfo {
    margin-top: 15%;
}
.abouttext p {
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.1px;
    color: #000d3e;
    font-size: 15px;
}
.abouttext p:hover {
    border-bottom: 1px solid rgba(0, 13, 62, 0.35);
    display:inline-block;
}
.arrow {
    padding-bottom: 3px;
}
.aboutlogo p {
    font-size: 32px;
    font-weight: 700;
    color: #000d3e;
    text-transform: uppercase;
}
.aboutmaintext {
    margin-top: 18px;
    color: #1d1d1d;
    font-size: 15px;
    font-weight: 400;
    font-family: 'PT Sans'!important;
}
.aboutsecondtext {
    color: #000d3e;
    font-family: 'PT Sans'!important;
    line-height: 30px;
    padding-left: -10px;
}
.aboutsecondtext li {
    color: #000d3e;
}
#aboutcopyright {
    padding-left: 70px;
    color: #000d3e;
    font-weight: 400;
}
#aboutcopyright a {
    color: #000d3e!important;
}